body {
            margin: 0 auto;
        }
        .lst-kix_lsrah29u03bl-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_lsrah29u03bl-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_lsrah29u03bl-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_lsrah29u03bl-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_lsrah29u03bl-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_lsrah29u03bl-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_lsrah29u03bl-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_pgyg5ucy5flq-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_lsrah29u03bl-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_pgyg5ucy5flq-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_mgk35lifin7y-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_pgyg5ucy5flq-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_pgyg5ucy5flq-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_mgk35lifin7y-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_mgk35lifin7y-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_pgyg5ucy5flq-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_sk7niw6kqdia-0 {
            list-style-type: none
        }

        .lst-kix_mgk35lifin7y-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_sk7niw6kqdia-1 {
            list-style-type: none
        }

        .lst-kix_pgyg5ucy5flq-5>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_sk7niw6kqdia-2 {
            list-style-type: none
        }

        .lst-kix_mgk35lifin7y-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_mgk35lifin7y-8>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_sk7niw6kqdia-3 {
            list-style-type: none
        }

        .lst-kix_pgyg5ucy5flq-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_fne9svoq8bls-2>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_sk7niw6kqdia-8 {
            list-style-type: none
        }

        .lst-kix_fne9svoq8bls-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_fne9svoq8bls-3>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_sk7niw6kqdia-4 {
            list-style-type: none
        }

        ul.lst-kix_sk7niw6kqdia-5 {
            list-style-type: none
        }

        ul.lst-kix_sk7niw6kqdia-6 {
            list-style-type: none
        }

        ul.lst-kix_sk7niw6kqdia-7 {
            list-style-type: none
        }

        .lst-kix_gmnxtgzb4dkv-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_fne9svoq8bls-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_fne9svoq8bls-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_mgk35lifin7y-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_mgk35lifin7y-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_fne9svoq8bls-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_fne9svoq8bls-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_mgk35lifin7y-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_fne9svoq8bls-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_lsrah29u03bl-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_rld5zl1l6uix-4 {
            list-style-type: none
        }

        ul.lst-kix_rld5zl1l6uix-3 {
            list-style-type: none
        }

        ul.lst-kix_rld5zl1l6uix-6 {
            list-style-type: none
        }

        ul.lst-kix_rld5zl1l6uix-5 {
            list-style-type: none
        }

        ul.lst-kix_rld5zl1l6uix-8 {
            list-style-type: none
        }

        ul.lst-kix_rld5zl1l6uix-7 {
            list-style-type: none
        }

        .lst-kix_ud7us9khesq6-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_ud7us9khesq6-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_gmnxtgzb4dkv-8>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_rld5zl1l6uix-0 {
            list-style-type: none
        }

        .lst-kix_ud7us9khesq6-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_gmnxtgzb4dkv-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_rld5zl1l6uix-2 {
            list-style-type: none
        }

        .lst-kix_ud7us9khesq6-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_gmnxtgzb4dkv-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_rld5zl1l6uix-1 {
            list-style-type: none
        }

        .lst-kix_gmnxtgzb4dkv-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_gmnxtgzb4dkv-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_gmnxtgzb4dkv-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_gmnxtgzb4dkv-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_fne9svoq8bls-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_gmnxtgzb4dkv-3>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_la3vbt8vz5ve-6 {
            list-style-type: none
        }

        ul.lst-kix_o2suv6qjeupz-0 {
            list-style-type: none
        }

        ul.lst-kix_la3vbt8vz5ve-5 {
            list-style-type: none
        }

        ul.lst-kix_la3vbt8vz5ve-4 {
            list-style-type: none
        }

        ul.lst-kix_la3vbt8vz5ve-3 {
            list-style-type: none
        }

        ul.lst-kix_la3vbt8vz5ve-2 {
            list-style-type: none
        }

        ul.lst-kix_la3vbt8vz5ve-1 {
            list-style-type: none
        }

        ul.lst-kix_la3vbt8vz5ve-0 {
            list-style-type: none
        }

        ul.lst-kix_o2suv6qjeupz-7 {
            list-style-type: none
        }

        ul.lst-kix_o2suv6qjeupz-8 {
            list-style-type: none
        }

        ul.lst-kix_o2suv6qjeupz-5 {
            list-style-type: none
        }

        ul.lst-kix_o2suv6qjeupz-6 {
            list-style-type: none
        }

        ul.lst-kix_o2suv6qjeupz-3 {
            list-style-type: none
        }

        ul.lst-kix_o2suv6qjeupz-4 {
            list-style-type: none
        }

        ul.lst-kix_o2suv6qjeupz-1 {
            list-style-type: none
        }

        ul.lst-kix_la3vbt8vz5ve-8 {
            list-style-type: none
        }

        ul.lst-kix_o2suv6qjeupz-2 {
            list-style-type: none
        }

        ul.lst-kix_la3vbt8vz5ve-7 {
            list-style-type: none
        }

        .lst-kix_ukdjcebry46g-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_rld5zl1l6uix-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_ukdjcebry46g-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_rld5zl1l6uix-0>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_y839ikodwmn-2 {
            list-style-type: none
        }

        ul.lst-kix_y839ikodwmn-1 {
            list-style-type: none
        }

        ul.lst-kix_y839ikodwmn-4 {
            list-style-type: none
        }

        ul.lst-kix_y839ikodwmn-3 {
            list-style-type: none
        }

        .lst-kix_la3vbt8vz5ve-1>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_y839ikodwmn-0 {
            list-style-type: none
        }

        .lst-kix_la3vbt8vz5ve-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_ukdjcebry46g-4>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_y839ikodwmn-6 {
            list-style-type: none
        }

        .lst-kix_ukdjcebry46g-2>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_y839ikodwmn-5 {
            list-style-type: none
        }

        ul.lst-kix_y839ikodwmn-8 {
            list-style-type: none
        }

        ul.lst-kix_y839ikodwmn-7 {
            list-style-type: none
        }

        .lst-kix_la3vbt8vz5ve-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_la3vbt8vz5ve-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_y839ikodwmn-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_y839ikodwmn-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_2vbiwxdusp0b-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_y839ikodwmn-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_dndn2uah402-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_2vbiwxdusp0b-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_ukdjcebry46g-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_ud7us9khesq6-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_ud7us9khesq6-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_ud7us9khesq6-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_y839ikodwmn-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_gmnxtgzb4dkv-0 {
            list-style-type: none
        }

        ul.lst-kix_vgbahbi2jnk2-0 {
            list-style-type: none
        }

        ul.lst-kix_gmnxtgzb4dkv-1 {
            list-style-type: none
        }

        ul.lst-kix_vgbahbi2jnk2-1 {
            list-style-type: none
        }

        ul.lst-kix_gmnxtgzb4dkv-2 {
            list-style-type: none
        }

        ul.lst-kix_vgbahbi2jnk2-2 {
            list-style-type: none
        }

        ul.lst-kix_gmnxtgzb4dkv-3 {
            list-style-type: none
        }

        ul.lst-kix_gmnxtgzb4dkv-4 {
            list-style-type: none
        }

        ul.lst-kix_gmnxtgzb4dkv-5 {
            list-style-type: none
        }

        ul.lst-kix_gmnxtgzb4dkv-6 {
            list-style-type: none
        }

        ul.lst-kix_gmnxtgzb4dkv-7 {
            list-style-type: none
        }

        ul.lst-kix_gmnxtgzb4dkv-8 {
            list-style-type: none
        }

        ul.lst-kix_dndn2uah402-0 {
            list-style-type: none
        }

        ul.lst-kix_mgk35lifin7y-8 {
            list-style-type: none
        }

        ul.lst-kix_mgk35lifin7y-6 {
            list-style-type: none
        }

        ul.lst-kix_mgk35lifin7y-7 {
            list-style-type: none
        }

        ul.lst-kix_mgk35lifin7y-4 {
            list-style-type: none
        }

        ul.lst-kix_mgk35lifin7y-5 {
            list-style-type: none
        }

        .lst-kix_2vbiwxdusp0b-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_2vbiwxdusp0b-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_7physh7c714h-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_7physh7c714h-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_dvcui8mxqlrp-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_dvcui8mxqlrp-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_vgbahbi2jnk2-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_mgk35lifin7y-2 {
            list-style-type: none
        }

        ul.lst-kix_mgk35lifin7y-3 {
            list-style-type: none
        }

        ul.lst-kix_mgk35lifin7y-0 {
            list-style-type: none
        }

        .lst-kix_7physh7c714h-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_7physh7c714h-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_pgyg5ucy5flq-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_mgk35lifin7y-1 {
            list-style-type: none
        }

        .lst-kix_dvcui8mxqlrp-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_vgbahbi2jnk2-1>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_dndn2uah402-1 {
            list-style-type: none
        }

        ul.lst-kix_dndn2uah402-2 {
            list-style-type: none
        }

        ul.lst-kix_dndn2uah402-3 {
            list-style-type: none
        }

        ul.lst-kix_dndn2uah402-4 {
            list-style-type: none
        }

        ul.lst-kix_dndn2uah402-5 {
            list-style-type: none
        }

        ul.lst-kix_dndn2uah402-6 {
            list-style-type: none
        }

        .lst-kix_dvcui8mxqlrp-8>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_dndn2uah402-7 {
            list-style-type: none
        }

        .lst-kix_vgbahbi2jnk2-3>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_dndn2uah402-8 {
            list-style-type: none
        }

        ul.lst-kix_vgbahbi2jnk2-3 {
            list-style-type: none
        }

        .lst-kix_dvcui8mxqlrp-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_vgbahbi2jnk2-4 {
            list-style-type: none
        }

        ul.lst-kix_vgbahbi2jnk2-5 {
            list-style-type: none
        }

        .lst-kix_7physh7c714h-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_vgbahbi2jnk2-6 {
            list-style-type: none
        }

        ul.lst-kix_vgbahbi2jnk2-7 {
            list-style-type: none
        }

        ul.lst-kix_vgbahbi2jnk2-8 {
            list-style-type: none
        }

        .lst-kix_vgbahbi2jnk2-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_p499k0r2s0h1-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_p499k0r2s0h1-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_p499k0r2s0h1-5>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_ukdjcebry46g-8 {
            list-style-type: none
        }

        ul.lst-kix_ukdjcebry46g-7 {
            list-style-type: none
        }

        .lst-kix_p499k0r2s0h1-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_p499k0r2s0h1-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_p499k0r2s0h1-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_sk7niw6kqdia-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_vgbahbi2jnk2-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_sk7niw6kqdia-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_sk7niw6kqdia-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_7ble1psbtmzx-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_7ble1psbtmzx-8>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_7ble1psbtmzx-7 {
            list-style-type: none
        }

        ul.lst-kix_7ble1psbtmzx-6 {
            list-style-type: none
        }

        ul.lst-kix_7ble1psbtmzx-5 {
            list-style-type: none
        }

        ul.lst-kix_7ble1psbtmzx-4 {
            list-style-type: none
        }

        ul.lst-kix_7ble1psbtmzx-3 {
            list-style-type: none
        }

        ul.lst-kix_7ble1psbtmzx-2 {
            list-style-type: none
        }

        ul.lst-kix_7ble1psbtmzx-1 {
            list-style-type: none
        }

        ul.lst-kix_7ble1psbtmzx-0 {
            list-style-type: none
        }

        .lst-kix_7ble1psbtmzx-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_7ble1psbtmzx-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_7ble1psbtmzx-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_7ble1psbtmzx-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_o2suv6qjeupz-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_o2suv6qjeupz-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_p499k0r2s0h1-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_7ble1psbtmzx-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_p499k0r2s0h1-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_7ble1psbtmzx-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_p499k0r2s0h1-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_7ble1psbtmzx-1>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_7ble1psbtmzx-8 {
            list-style-type: none
        }

        .lst-kix_o2suv6qjeupz-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_o2suv6qjeupz-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_o2suv6qjeupz-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_o2suv6qjeupz-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_o2suv6qjeupz-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_o2suv6qjeupz-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_dndn2uah402-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_dndn2uah402-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_dndn2uah402-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_dndn2uah402-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_dndn2uah402-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_dndn2uah402-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_o2suv6qjeupz-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_p499k0r2s0h1-7 {
            list-style-type: none
        }

        .lst-kix_mu3b8cdx9rk-1>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_p499k0r2s0h1-6 {
            list-style-type: none
        }

        .lst-kix_mu3b8cdx9rk-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_mu3b8cdx9rk-2>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_p499k0r2s0h1-8 {
            list-style-type: none
        }

        ul.lst-kix_p499k0r2s0h1-3 {
            list-style-type: none
        }

        .lst-kix_mu3b8cdx9rk-3>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_p499k0r2s0h1-2 {
            list-style-type: none
        }

        .lst-kix_sk7niw6kqdia-8>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_p499k0r2s0h1-5 {
            list-style-type: none
        }

        ul.lst-kix_p499k0r2s0h1-4 {
            list-style-type: none
        }

        .lst-kix_rld5zl1l6uix-8>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_ukdjcebry46g-0 {
            list-style-type: none
        }

        .lst-kix_sk7niw6kqdia-3>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_ukdjcebry46g-2 {
            list-style-type: none
        }

        .lst-kix_mu3b8cdx9rk-8>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_ukdjcebry46g-1 {
            list-style-type: none
        }

        .lst-kix_rld5zl1l6uix-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_rld5zl1l6uix-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_ukdjcebry46g-4 {
            list-style-type: none
        }

        .lst-kix_mu3b8cdx9rk-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_ukdjcebry46g-3 {
            list-style-type: none
        }

        .lst-kix_sk7niw6kqdia-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_sk7niw6kqdia-5>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_ukdjcebry46g-6 {
            list-style-type: none
        }

        ul.lst-kix_ukdjcebry46g-5 {
            list-style-type: none
        }

        .lst-kix_rld5zl1l6uix-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_mu3b8cdx9rk-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_sk7niw6kqdia-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_sk7niw6kqdia-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_p499k0r2s0h1-1 {
            list-style-type: none
        }

        .lst-kix_mu3b8cdx9rk-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_mu3b8cdx9rk-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_p499k0r2s0h1-0 {
            list-style-type: none
        }

        .lst-kix_rld5zl1l6uix-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_rld5zl1l6uix-4>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_dvcui8mxqlrp-8 {
            list-style-type: none
        }

        ul.lst-kix_dvcui8mxqlrp-7 {
            list-style-type: none
        }

        ul.lst-kix_dvcui8mxqlrp-6 {
            list-style-type: none
        }

        ul.lst-kix_dvcui8mxqlrp-5 {
            list-style-type: none
        }

        .lst-kix_ukdjcebry46g-1>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_dvcui8mxqlrp-4 {
            list-style-type: none
        }

        ul.lst-kix_pgyg5ucy5flq-8 {
            list-style-type: none
        }

        ul.lst-kix_dvcui8mxqlrp-3 {
            list-style-type: none
        }

        ul.lst-kix_dvcui8mxqlrp-2 {
            list-style-type: none
        }

        ul.lst-kix_dvcui8mxqlrp-1 {
            list-style-type: none
        }

        ul.lst-kix_pgyg5ucy5flq-5 {
            list-style-type: none
        }

        ul.lst-kix_dvcui8mxqlrp-0 {
            list-style-type: none
        }

        ul.lst-kix_pgyg5ucy5flq-4 {
            list-style-type: none
        }

        ul.lst-kix_pgyg5ucy5flq-7 {
            list-style-type: none
        }

        .lst-kix_rld5zl1l6uix-1>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_pgyg5ucy5flq-6 {
            list-style-type: none
        }

        ul.lst-kix_pgyg5ucy5flq-1 {
            list-style-type: none
        }

        ul.lst-kix_pgyg5ucy5flq-0 {
            list-style-type: none
        }

        ul.lst-kix_pgyg5ucy5flq-3 {
            list-style-type: none
        }

        ul.lst-kix_pgyg5ucy5flq-2 {
            list-style-type: none
        }

        .lst-kix_ukdjcebry46g-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_la3vbt8vz5ve-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_ukdjcebry46g-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_y839ikodwmn-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_la3vbt8vz5ve-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_y839ikodwmn-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_y839ikodwmn-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_dndn2uah402-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_la3vbt8vz5ve-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_la3vbt8vz5ve-8>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_7physh7c714h-7 {
            list-style-type: none
        }

        ul.lst-kix_7physh7c714h-6 {
            list-style-type: none
        }

        ul.lst-kix_7physh7c714h-5 {
            list-style-type: none
        }

        .lst-kix_y839ikodwmn-2>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_7physh7c714h-4 {
            list-style-type: none
        }

        .lst-kix_dndn2uah402-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_7physh7c714h-3 {
            list-style-type: none
        }

        ul.lst-kix_7physh7c714h-2 {
            list-style-type: none
        }

        ul.lst-kix_7physh7c714h-1 {
            list-style-type: none
        }

        .lst-kix_la3vbt8vz5ve-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_7physh7c714h-0 {
            list-style-type: none
        }

        .lst-kix_ud7us9khesq6-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_2vbiwxdusp0b-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_ukdjcebry46g-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_2vbiwxdusp0b-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_y839ikodwmn-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_ud7us9khesq6-5>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_2vbiwxdusp0b-0 {
            list-style-type: none
        }

        ul.lst-kix_2vbiwxdusp0b-3 {
            list-style-type: none
        }

        ul.lst-kix_2vbiwxdusp0b-4 {
            list-style-type: none
        }

        ul.lst-kix_2vbiwxdusp0b-1 {
            list-style-type: none
        }

        ul.lst-kix_2vbiwxdusp0b-2 {
            list-style-type: none
        }

        ul.lst-kix_mu3b8cdx9rk-8 {
            list-style-type: none
        }

        ul.lst-kix_mu3b8cdx9rk-7 {
            list-style-type: none
        }

        ul.lst-kix_mu3b8cdx9rk-6 {
            list-style-type: none
        }

        ul.lst-kix_mu3b8cdx9rk-5 {
            list-style-type: none
        }

        ul.lst-kix_ud7us9khesq6-8 {
            list-style-type: none
        }

        .lst-kix_2vbiwxdusp0b-4>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_ud7us9khesq6-6 {
            list-style-type: none
        }

        ul.lst-kix_7physh7c714h-8 {
            list-style-type: none
        }

        ul.lst-kix_ud7us9khesq6-7 {
            list-style-type: none
        }

        ul.lst-kix_2vbiwxdusp0b-7 {
            list-style-type: none
        }

        ul.lst-kix_ud7us9khesq6-4 {
            list-style-type: none
        }

        ul.lst-kix_mu3b8cdx9rk-0 {
            list-style-type: none
        }

        .lst-kix_2vbiwxdusp0b-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_2vbiwxdusp0b-8 {
            list-style-type: none
        }

        ul.lst-kix_ud7us9khesq6-5 {
            list-style-type: none
        }

        ul.lst-kix_2vbiwxdusp0b-5 {
            list-style-type: none
        }

        ul.lst-kix_ud7us9khesq6-2 {
            list-style-type: none
        }

        ul.lst-kix_2vbiwxdusp0b-6 {
            list-style-type: none
        }

        ul.lst-kix_ud7us9khesq6-3 {
            list-style-type: none
        }

        ul.lst-kix_ud7us9khesq6-0 {
            list-style-type: none
        }

        ul.lst-kix_mu3b8cdx9rk-4 {
            list-style-type: none
        }

        ul.lst-kix_ud7us9khesq6-1 {
            list-style-type: none
        }

        ul.lst-kix_mu3b8cdx9rk-3 {
            list-style-type: none
        }

        ul.lst-kix_mu3b8cdx9rk-2 {
            list-style-type: none
        }

        ul.lst-kix_mu3b8cdx9rk-1 {
            list-style-type: none
        }

        .lst-kix_vgbahbi2jnk2-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_dvcui8mxqlrp-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_vgbahbi2jnk2-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_2vbiwxdusp0b-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_7physh7c714h-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_7physh7c714h-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_lsrah29u03bl-5 {
            list-style-type: none
        }

        ul.lst-kix_lsrah29u03bl-4 {
            list-style-type: none
        }

        ul.lst-kix_lsrah29u03bl-7 {
            list-style-type: none
        }

        ul.lst-kix_lsrah29u03bl-6 {
            list-style-type: none
        }

        .lst-kix_dvcui8mxqlrp-1>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_lsrah29u03bl-1 {
            list-style-type: none
        }

        ul.lst-kix_lsrah29u03bl-0 {
            list-style-type: none
        }

        li.li-bullet-0:before {
            margin-left: -18pt;
            white-space: nowrap;
            display: inline-block;
            min-width: 18pt
        }

        ul.lst-kix_lsrah29u03bl-3 {
            list-style-type: none
        }

        .lst-kix_7physh7c714h-1>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_lsrah29u03bl-2 {
            list-style-type: none
        }

        .lst-kix_pgyg5ucy5flq-8>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_fne9svoq8bls-0 {
            list-style-type: none
        }

        ul.lst-kix_fne9svoq8bls-1 {
            list-style-type: none
        }

        ul.lst-kix_fne9svoq8bls-2 {
            list-style-type: none
        }

        .lst-kix_vgbahbi2jnk2-2>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_fne9svoq8bls-3 {
            list-style-type: none
        }

        ul.lst-kix_fne9svoq8bls-4 {
            list-style-type: none
        }

        ul.lst-kix_lsrah29u03bl-8 {
            list-style-type: none
        }

        ul.lst-kix_fne9svoq8bls-5 {
            list-style-type: none
        }

        ul.lst-kix_fne9svoq8bls-6 {
            list-style-type: none
        }

        .lst-kix_vgbahbi2jnk2-4>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_fne9svoq8bls-7 {
            list-style-type: none
        }

        .lst-kix_dvcui8mxqlrp-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_fne9svoq8bls-8 {
            list-style-type: none
        }

        .lst-kix_dvcui8mxqlrp-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_7physh7c714h-5>li:before {
            content: "\0025a0   "
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c33 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 301.5pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c47 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 273.8pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c50 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 288pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c45 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 176.2pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c40 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 268.5pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c48 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 276pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c12 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 250pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c55 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 282.8pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c35 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 358.5pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c11 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 273pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c46 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 283.5pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c20 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 278.2pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c51 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 275.2pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c15 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 249.8pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c53 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 285.8pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c37 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #ffffff;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 285pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c23 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 26pt;
            font-family: "Arial";
            font-style: normal
        }

        .c22 {
            padding-top: 16pt;
            padding-bottom: 4pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 16pt;
            font-family: "Arial";
            font-style: normal
        }

        .c7 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c1 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c3 {
            padding-top: 14pt;
            padding-bottom: 4pt;
            line-height: 1.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c17 {
            color: #666666;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Arial";
            font-style: normal
        }

        .c8 {
            padding-top: 14pt;
            padding-bottom: 4pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c6 {
            padding-top: 18pt;
            padding-bottom: 6pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c2 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 11pt
        }

        .c10 {
            color: #434343;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-family: "Arial";
            font-style: normal
        }

        .c25 {
            padding-top: 20pt;
            padding-bottom: 6pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c19 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 20pt;
            font-family: "Arial";
            font-style: normal
        }

        .c36 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: italic
        }

        .c4 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c29 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 19pt;
            font-family: "Arial";
            font-style: normal
        }

        .c44 {
            padding-top: 20pt;
            padding-bottom: 6pt;
            line-height: 1.15;
            page-break-after: avoid;
            text-align: right
        }

        .c43 {
            padding-top: 0pt;
            padding-bottom: 3pt;
            line-height: 1.15;
            page-break-after: avoid;
            text-align: center
        }

        .c52 {
            padding-top: 18pt;
            padding-bottom: 6pt;
            line-height: 1.15;
            page-break-after: avoid;
            text-align: right
        }

        .c9 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            height: 11pt
        }

        .c24 {
            padding-top: 14pt;
            padding-bottom: 4pt;
            line-height: 1.0;
            page-break-after: avoid;
            text-align: left
        }

        .c31 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: center;
            height: 11pt
        }

        .c49 {
            padding-top: 14pt;
            padding-bottom: 4pt;
            line-height: 1.15;
            page-break-after: avoid;
            text-align: right
        }

        .c41 {
            padding-top: 16pt;
            padding-bottom: 4pt;
            line-height: 1.15;
            page-break-after: avoid;
            text-align: right
        }

        .c39 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: center
        }

        .c32 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: center
        }

        .c16 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c27 {
            text-decoration-skip-ink: none;
            -webkit-text-decoration-skip: none;
            color: #1155cc;
            text-decoration: underline
        }

        .c30 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: right
        }

        .c21 {
            margin-left: auto;
            border-spacing: 0;
            border-collapse: collapse;
            margin-right: auto
        }

        .c42 {
            background-color: #ffffff;
            max-width: 451.4pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c28 {
            orphans: 2;
            widows: 2
        }

        .c13 {
            margin-left: 36pt;
            padding-left: 0pt
        }

        .c26 {
            color: inherit;
            text-decoration: inherit
        }

        .c18 {
            padding: 0;
            margin: 0
        }

        .c5 {
            height: 0pt
        }

        .c14 {
            font-weight: 700
        }

        .c38 {
            font-style: italic
        }

        .c34 {
            margin-left: 36pt
        }

        .c54 {
            height: 12pt
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }